html{
    background-color: aqua;
}

body{
    font-family: sans-serif
}

hr{
    width: 60em;
}


.tb{
    width: 500px;
    margin: auto;
}

h3{
    text-align: center;
    font-size: 2.5em;
}

.na{
    font-size: 2em;
}

.na1 {
    text-align: left;
}

.na2 {
    text-align: center;
}

.na3 {
    text-align: right;
}

.ne1{
    text-align: left;
}

.ne2{
    text-align: center;
}

.ne3{
    text-align: right;
}
